[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, warning}]}
        ]},
        {error_logger_redirect, false}
    ]},
    {flurm_controller, [
        {listen_port, 16817},
        {cluster_enabled, false}
    ]},
    {flurm_node_daemon, [
        {controller_host, "localhost"},
        {controller_port, 16817}
    ]},
    {flurm_db, [
        {data_dir, "/tmp/flurm_test_data"}
    ]}
].
